

{{# each products}}
    <div class="container">
        <div class="row">
            {{# each this}}
                <div class="col">
                    <!--Card 1 -->
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-10">
                                    <h5 class="card-title">{{name}}</h5>
                                    <p class="card-text">Price: ${{price}}</p>
                                    <p class="card-text">Quantity: {{quantity}}</p>
                                    <form action="/delete-item" method="post">
                                        Number to remove:<br>
                                        <input id="remove_num" name="remove_num" type="text" value="0">

                                        <!--Problem: Modal only takes in first object-->
                                        <!--<input type="button" class="btn btn-primary" data-toggle="modal" data-target="#remove_modal" value="Remove">-->
                                        {{> remove_modal}}

                                        <input type="submit" name="{{name}}" class="btn btn-primary" value="Remove">
                                        <input type="hidden" value="{{item_id}}" name="item_id">
                                    </form>

                                </div>
                                <div class="col-2 ml-auto">
                                    <img class="card-img-top ml-auto" src="{{path}}" alt="Card image cap">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Card 1 end-->
                </div>
            {{/each}}
        </div>
    </div>
    <br>
{{/each}}


