


{{# each products}}
    <div class="container">
        <div class="row">
            {{# each this}}
                <div class="col">
                    <!--Card 1 -->
                    <div class="card cardcontainer">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-10">
                                    <h5 class="card-title">{{name}}</h5>
                                    <p class="card-text">Price: ${{price}}</p>
                                    <p class="card-text">Quantity: {{quantity}}</p>
                                    <form action="/delete-item" method="post">
                                        <input type="number" min="1" id="remove_num" name="remove_num" value="1">
                                        <input type="submit" name="{{name}}" class="btn btn-secondary-custom" value="Remove" onclick="itemremoved()">
                                        <input type="hidden" value="{{item_id}}" name="item_id">
                                    </form>
                                </div>
                                <div class="col-2 ml-auto">
                                    <img class="card-img-bottom ml-auto" src="{{path}}" alt="Card image cap">
                                </div>
                            </div>
                        </div>
                        <!--Card 1 end-->
                    </div>
                {{/each}}
            </div>
        </div>
        <br>
    {{/each}}

    <!--For Deliverable 3-->
    {{# if products}}
        <div class="container pb-5">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-10">
                            <form onsubmit="return confirm('Confirm purchase??')" action="/checkout" method="post">
                                <input type="submit" name="purchase" class="btn btn-primary" value="Purchase"> Total Price: ${{total_price}}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}


